:root {
  --dark: #282F2B;
  --light: #FFF9EF;
  --blue: #D1DCDA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', serif;
  color: var(--dark);
}

p {
  font-size: 14px;
}

i {
  cursor: pointer;
}

h2 {
  font-size: 42px;
  font-weight: 200;
  font-family: 'Kaisei Decol', serif;
  color: var(--light);
  line-height: 36px;
}

button {
  padding: 7px 50px;
  font-family: 'Kaisei Decol', serif;
}