:root {
  --dark: #282F2B;
  --light: #FFF9EF;
  --blue: #D1DCDA;
  --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

  --xs: 0;
  --sm: 480px;
  --md: 720px;
  --lg: 960px;
  --xl: 1200px;
  --giant: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Overpass', serif;
  color: var(--dark);
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 42px;
  font-weight: 200;
  font-family: 'Kaisei Decol', serif;
  color: var(--light);
  line-height: 36px;
}

h2 {
  font-size: 36px;
  font-weight: 200;
  font-family: 'Kaisei Decol', serif;
  color: var(--dark);
  line-height: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 200;
  font-family: 'Kaisei Decol', serif;
  color: var(--dark);
  line-height: 24px;
}

h4 {
  font-size: 20px;
  color: var(--dark);
  font-weight: 400;
}

button {
  width: 12rem;
  height: 40px;
  font-family: 'Kaisei Decol', serif;
  text-align: center;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 200;
}

.add-to-bag {
  border-top: 1.5px solid var(--dark);
  border-bottom: 1.5px solid var(--dark);
  padding: 10px 5px;
  text-align: right;
  cursor: pointer;
}

/* ---------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
    line-height: 32px;
  }
  
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 22px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 11px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 33px;
  }
  
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 12px;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {  
  h1 {
    font-size: 36px;
    line-height: 32px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 23px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 13px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 36px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 23px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1320px) {
  h1 {
    font-size: 42px;
    line-height: 36px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 23px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 13px;
  }
}

@media screen and (min-width: 1320px) and (max-width: 1920px) {
}
@media screen and (min-width: 1920px) {    
  h1 {
    font-size: 52px;
    line-height: 46px;
  }
  
  h2 {
    font-size: 40px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 32px;
    line-height: 24px;
  }
  
  h4 {
    font-size: 24px;
  }
  
  button {
    width: 12rem;
    height: 40px;
    font-size: 15px;
  }
  
  p {
    font-size: 18px;
  }
}

