/* --FOR LOGIN AND SIGNUP PAGE-- */
.login-signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-signup .card {
    width: 35%;
    background-color: var(--blue);
    padding: 40px 20px;
    border-radius: 10px;
}

.zaza-form .zaza-input {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.zaza-form .zaza-input label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 200;
    text-indent: 3%;
}

.zaza-form .zaza-input label:last-child {
    margin-bottom: 5px;
}

.zaza-form div label input {
    padding: 7px 15px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 40px;
    margin-top: 3px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.error-text{
    color: red;
    text-indent: 3%;
    font-size: 13px;
}

.zaza-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.zaza-form-button button {
    width: 50%;
    height: 40px;
    background-color: var(--light);
    font-size: 18px;
}

/* --CONTENT OUTSIDE THE FORM CARD-- */

.outside-content .registered-question { 
    margin: 20px 0 40px;
    text-align: center;
}

.outside-content p {
    font-weight: 300;
}

/* --JUST FOR LOGIN PAGE-- */
.benefits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light);
    padding: 20px;
    border-radius: 10px;
}

.benefit-div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.benefit-div p {
    width: 80%;
    text-align: center;
    margin-top: 5px;
}

.benefits i {
    font-size: 40px;
    opacity: .8;
    cursor: default;
}

.benefits .line {
    width: .5px;
    height: 40px;
    background-color: rgba(0, 0, 0, .2);
}

.signup-switch {
    text-align: center;
    margin-top: 15px;
    opacity: .7;
}

@media screen and (max-width: 480px) {
    .login-signup .card {
        width: 90%;
        padding: 40px 10px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 14px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 12px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-size: 15px;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px 20px;
    }

    .benefit-div {
        padding: 10px 0;
    }

    .benefit-div p {
        width: 80%;
        font-size: 15px;
    }

    .benefits i {
        font-size: 35px;
    }

    .benefits .line {
        width: .5px;
        height: 40px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .login-signup .card {
        width: 85%;
        padding: 40px 15px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 14px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 12px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-size: 15px;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px 20px;
    }

    .benefit-div {
        padding: 10px 0;
    }

    .benefit-div p {
        width: 80%;
    }

    .benefits i {
        font-size: 35px;
    }

    .benefits .line {
        width: .5px;
        height: 40px;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {  
    .login-signup .card {
        width: 70%;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 14px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 12px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-size: 15px;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        padding: 10px 20px;
    }

    .benefit-div {
        padding: 5px;
    }

    .benefit-div p {
        width: 80%;
    }

    .benefits i {
        font-size: 35px;
    }

    .benefits .line {
        width: .5px;
        height: 40px;
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .login-signup .card {
        width: 55%;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 14px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 12px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-size: 15px;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .benefit-div {
        padding: 10px;
    }

    .benefit-div p {
        width: 80%;
    }

    .benefits i {
        font-size: 40px;
    }

    .benefits .line {
        width: 1px;
        height: 40px;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1320px) {
    .login-signup .card {
        width: 48%;
        padding: 40px 20px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 14px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 14px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 18px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-size: 16px;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .benefit-div {
        padding: 10px;
    }

    .benefit-div p {
        width: 80%;
    }

    .benefits i {
        font-size: 40px;
    }

    .benefits .line {
        width: .5px;
        height: 40px;
    }
  }
  
  @media screen and (min-width: 1320px) and (max-width: 1920px) {
  }
  @media screen and (min-width: 1920px) {    
    
    /* --FOR LOGIN AND SIGNUP PAGE-- */

    .login-signup .card {
        width: 28%;
        background-color: var(--blue);
        padding: 40px 20px;
        border-radius: 10px;
    }

    .zaza-form .zaza-input label {
        font-size: 18px;
    }

    .zaza-form div label input {
        padding: 7px 15px;
    }

    .error-text{
        text-indent: 3%;
        font-size: 15px;
    }


    .zaza-form-button button {
        width: 50%;
        height: 40px;
        font-size: 20px;
    }

    /* --CONTENT OUTSIDE THE FORM CARD-- */

    .outside-content p {
        font-weight: 300;
    }

    /* --JUST FOR LOGIN PAGE-- */
    .benefits {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .benefit-div {
        padding: 10px;
    }

    .benefit-div p {
        width: 80%;
    }

    .benefits i {
        font-size: 40px;
    }

    .benefits .line {
        width: .5px;
        height: 40px;
    }

  }
