.sizes {
    margin: 2rem 0;
}

.each-size:last-child {
    margin-top: 20px;
}

.size-list {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    margin-top: 5px;
}

.size-list div {
    width: fit-content;
    padding: 7px 9px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ---------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 767px) {
    .sizes {
        margin: .5rem 0;
    }
}
