.slide-image {
    width: 100vw;
    height: 95vh;
    z-index: 1;
    padding: 8rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    animation: main-image-slide 20s ease infinite;
}

/* ----Main background animation Slide---- */
@keyframes main-image-slide {
    0% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    33.33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
    66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
    66.66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    99% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    100% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
}

.slide-image, .slide-image .animated-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----Muted background cover--- */
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3);
}

/* ----Oval Animation Slide---- */
.animated-slide {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 500px;
    border-radius: 12rem;
    object-fit: cover;
    background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    animation: sub-image-slide 20s ease infinite;
}

@keyframes sub-image-slide {
    0% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
    33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
    33.33% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690735080/ZAZA%20Images/pixie10_wwboql.jpg');
    }
    66.66% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    99% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734720/ZAZA%20Images/fashion-girl-with-bright-make-up-red-dress-lying-water-pool-young-woman-with-closed-eyes-posing-water_btpsps.jpg');
    }
    100% {
        background-image: url('https://res.cloudinary.com/dyxxn831a/image/upload/v1690734968/ZAZA%20Images/fashion-photo-seductive-model-with-perfect-body-posing-tropical-beach-sunset-colots_x0auaw.jpg');
    }
}

.take-a-leap {
    z-index: 1;
}

.take-a-leap h1 {
    width: 50%;
    margin-bottom: 20px;
}

.take-a-leap button {
    background-color: #93CAC0;
    color: var(--light);
}

/* ---------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 480px) {
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }

    .slide-image {
        padding: 4rem 3rem;
        background-position: center center;
        justify-content: center;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        top: 45%;
        left: 50%;
        width: 170px;
        height: 300px;
        border-radius: 12rem;
    }
    
    .take-a-leap {
        text-align: center;
    }
    .take-a-leap h1 {
        width: 100%;
    }
    }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }

    .slide-image {
        padding: 4rem 3rem;
        background-position: center center;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        left: 80%;
        width: 150px;
        height: 300px;
        border-radius: 12rem;
    }
    
    .take-a-leap h1 {
        width: 55%;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {  
    .slide-image {
        padding: 5rem 3rem;
    }
    
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        left: 82%;
        width: 180px;
        height: 370px;
        border-radius: 12rem;
    }
    
    .take-a-leap h1 {
        width: 50%;
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .slide-image {
        padding: 6rem;
    }
    
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        left: 85%;
        width: 240px;
        height: 420px;
        border-radius: 12rem;
    }
    
    .take-a-leap h1 {
        width: 50%;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1320px) {
    
    .slide-image {
        padding: 6rem;
    }
    
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        left: 85%;
        width: 280px;
        height: 500px;
        border-radius: 12rem;
    }
    
    .take-a-leap h1 {
        width: 50%;
    }
  }
  
  @media screen and (min-width: 1320px) and (max-width: 1920px) {
  }
  @media screen and (min-width: 1920px) { 

    
    .slide-image, .slide-image .animated-slide {
        background-position: center center;
    }

    .slide-image {
        padding: 8rem;
        background-position: center 20%;
    }
    
    /* ----Oval Animation Slide---- */
    .animated-slide {
        left: 85%;
        width: 350px;
        height: 650px;
        border-radius: 12rem;
    }
    
    .take-a-leap h1 {
        width: 50%;
    }
  }