.scents-container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 5em;
}

.scent-item {
    position: relative;
    width: 100%;
    height: 30em;
    object-fit: cover;
}

.scent-item img {
    width: 100%; 
    height: 100%;
}

.scent-item h4 {
    color: var(--light);
    font-family: 'Kaisei Decol', serif;
    font-size: 18px;
}

.fragrance-cover {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease;
}

.fragrance-cover:hover {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}


@media screen and (max-width: 768px) {
    .fasionsets-container {
        flex-direction: column;
    }

    .fashion-item {
        flex: 0 0 calc(100% - 20px);
    }
}

/* ---------------MEDIA QUERIES--------------------- */

@media screen and (max-width: 480px) {
    .scents-container {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 28em;
    }
    
    .scent-item h4 {
        font-size: 16px;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .scents-container {
        width: 55%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 35em;
    }
    
    .scent-item h4 {
        font-size: 16px;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 991px) {  
    .scents-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 33em;
    }
    
    .scent-item h4 {
        font-size: 18px;
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1200px) {
    .scents-container {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 35em;
    }
    
    .scent-item h4 {
        font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1320px) {
    .scents-container {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 35em;
    }
    
    .scent-item h4 {
        font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1320px) and (max-width: 1920px) {
  }
  @media screen and (min-width: 1920px) {    
    .scents-container {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
    .scent-item {
        height: 50em;
    }
    
    .scent-item h4 {
        font-size: 24px;
    }
    
  }