.sleepwear-wrapper {
    background-color: #D1DCDA;
    padding: 5px;
    height: 550px;
    margin-bottom: 150px;
    position: relative;
}

.sleepwearimg {
    width: 425px;
    height: auto;
    position: relative; 
    left: 420px; 
    top: 1px;
}

.whitelingerieimg {
    position: absolute;
    bottom: -100px;
    left: 355px;
    border-radius: 650px;
    width: 244px;
    height: 452px;
    z-index: 2;
}
.title {
    position: absolute;
    top: 200px;
    right: 250px;
    transform: translateY(-50%);
    font-size: 46px;
    color: #282F2B;
    max-width: 400px;
    font-weight: 300;
    font-family: 'Kaisei Decol', serif;
}

.bras-pannies button {
    background-color: #93CAC0;
    color: var(--light);
    position: absolute;
    top: 420px; /* Adjust the top position as needed */
    left: 1100px;
    transform: translateY(-50%);
    padding: 10px 40px; /* Adjust padding to increase button size */
    font-size: 20px; 
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 36px;
        right: 50px;
        top: 200px; /* Adjust the top position for smaller screens */
    }

    .bras-pannies button {
        top: 300px; /* Adjust the top position for smaller screens */
        left: 50px;
        padding: 8px 16px; /* Adjust padding for smaller button size */
        font-size: 16px;
    }
}